* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.titolo {
    color: rgb(54, 153, 239);
    text-align: center;
    padding-top: 30px;
}

.timer {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;
}

.contenuto_timer {
    width: 80%;
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
}

.contenuto_note {
    width: 80%;
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondi {
    color: white;
    font-size: xx-large;
}

button {
    width: 100px;
    height: 20px;
    margin: 7px;
    border-radius: 10px;
    background-color: rgb(54, 153, 239);
    border: rgb(54, 153, 239);
    color: white;
}

.frequenze {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}

.frequenza1 {
    width: 10px;
    height: 50px;
    background-color: rgb(54, 153, 239);
    border-radius: 100px;
}

.frequenza2 {
    width: 10px;
    height: 70px;
    background-color: rgb(54, 153, 239);
    border-radius: 100px;
    margin-left: 10px;
}

.frequenza3 {
    width: 10px;
    height: 90px;
    background-color: rgb(54, 153, 239);
    border-radius: 100px;
    margin-left: 10px;
}

.frequenza4 {
    width: 10px;
    height: 70px;
    background-color: rgb(54, 153, 239);
    border-radius: 100px;
    margin-left: 10px;
}

.frequenza5 {
    width: 10px;
    height: 50px;
    background-color: rgb(54, 153, 239);
    border-radius: 100px;
    margin-left: 10px;
}

.frequenza6 {
    width: 10px;
    height: 50px;
    background-color: rgb(16, 62, 99);
    border-radius: 100px;
    margin-left: 10px;
}

.frequenza7 {
    width: 10px;
    height: 70px;
    background-color: rgb(16, 62, 99);
    border-radius: 100px;
    margin-left: 10px;
}

.frequenza8 {
    width: 10px;
    height: 90px;
    background-color: rgb(16, 62, 99);
    border-radius: 100px;
    margin-left: 10px;
}

.frequenza9 {
    width: 10px;
    height: 70px;
    background-color: rgb(16, 62, 99);
    border-radius: 100px;
    margin-left: 10px;
}

.frequenza10 {
    width: 10px;
    height: 50px;
    background-color: rgb(16, 62, 99);
    border-radius: 100px;
    margin-left: 10px;
}

.testo_note {
    margin-left: -55%;
    text-align: center;
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 34px;
}

img {
    height: 15px;
    width: 15px;
    margin-left: 30%;
    margin-top: 2px;
}

.home_immagine {
    height: 15px;
    width: 15px;
    margin-left: 35%;
    margin-top: 2px;
}

.repository_immagine {
    height: 15px;
    width: 15px;
    margin-left: 40%;
    margin-top: 2px;
}